@import '../../../styles/fonts.scss';
@import './antd-select.scss';
@import '../../../styles/ant-picker.scss';
@import './Mobile/AuthMobile.scss';

body
{
    font-family: 'GlacialRegular';
    .Split {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 40px;
    }
    .LeftSide {
        left: 0;
        background: url('/static/Assets/Lancher_image.png');
        background-position: center;
        width: 40%;
        background-size: cover;
        color: white;
        img 
        {
            margin-left: 10%;
            cursor: pointer;
        }
    }
    .ContentContainer
    {
        margin: 0 auto ;
        width: 80%;
        .HeaderContainer
        {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .ButtonContainer
            {
                font-family: 'GlacialBold';
                background-color: transparent;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 200ms ease-in-out;
                .backButton
                {
                    cursor: pointer;
                }
            }
            .ButtonContainer:hover
            {
                background-color: #ceecff4b;
            }
            .icon
            {
                padding-top: 2px;
                margin-right: 10px;
                color:#2a2a2a ;
                float : left ;
            }
            .Help
            {
                padding: 10px 15px;
                font-family: 'GlacialBold';
                color: #797979;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }
            .Help:hover
            {
                color: #2a2a2a;
            }
        }
        .FormContainer
        {
            margin: 0;
            position: absolute;
            top: 50%;
            width: 80%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            
            .soc
            {
                box-sizing: border-box;
            }
            .ColumnFLexContainer
            {
                display: flex;
                flex-direction: column;
            }
            @media all and (min-width: 935px)
            {
                
                .soc,.multipleInput , .ColumnFLexContainer ,.select , .buttonContainer
                {
                    width: 85%;
                }
              
            }
            
            .multipleInput
            {
                display: flex;
                justify-content: space-between;
                
                .controlled
                {
                    width: 30%;
                }
                .email
                {
                    font-family: 'GlacialBold';
                    margin-top: 20px;
                    padding: 10px 15px;
                    background-color: #e9f1fa;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 0px #318ce73f;
                    border-radius: 10px;
                    transition: all 200ms ease-in-out;
                    outline: none;
                }
                .email:hover
                {
                    border: 2px solid #c5e2ffd8;
                }
                .email:focus
                {
                    border: 2px solid #318CE7;
                }
                .errMsg
                {
                    
                    font-size: 12px;
                    color: #be0000;
                    font-family: 'GlacialBold';
                    transition: all 0.2s ease-in-out;
                }
                .hidden 
                {
                    display: none;
                    transition: all 0.2s ease-in-out;
                }
                .error
                {
                    border: 2px solid #be0000;
                }
                .addresse
                {
                    width: 63%;
                }
                .title
                {
                    width: 30%;
                    font-size: 13px;
                    text-align: center;
                    font-family: 'GlacialBold';
                    background-color: #e9f1fa;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 0px #318ce73f;
                    border-radius: 10px;
                    transition: all 200ms ease-in-out;
                    outline: none;
                    margin-top: 20px;
                    padding: 0px 5px;
                }
                .user
                {
                    width: 30%;
                }
                .small
                {
                    width: 15%;
                    font-size: 10px;
                    text-align: center;
                    font-family: 'GlacialBold';
                    background-color: #e9f1fa;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 0px #318ce73f;
                    border-radius: 10px;
                    transition: all 200ms ease-in-out;
                    outline: none;
                    margin-top: 20px;
                    padding: 0px 5px;
                }
            }
            .select
            {
                    font-family: 'GlacialBold';
                    margin-top: 20px;
                    padding: 10px 15px;
                    background-color: #e9f1fa;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 0px #318ce73f;
                    border-radius: 10px;
                    transition: all 200ms ease-in-out;
                    outline: none;
            }
            .buttonContainer
            {
                margin-top: 20px;
                overflow: auto;
                @media only screen and (min-width: 500px){
                    .next 
                    {
                        padding: 10px 30px;
                    }
                    .disabeledButton
                    {
                        font-size: 16px;
                        padding: 10px 30px;
                    }
                    .SignButton
                    {
                    font-size: 16px;
                    padding: 10px 30px;
                    }
                }
                .next
                {
                    float: right;
                }
            }
            h2 ,h3
            {
                font-family: 'HelvaticaNeu';
                color: #318CE7;
                @media all and (min-width: 935px)
                {
                  width: 85%;
                }
            }
            h1 
            {
                font-family: 'HelvaticaNeu';
            }
            form 
            {
                margin-top: 0%;
                label 
                {
                    font-family: 'GlacialBold';
                }
                .text-center
                {
                    margin-top: 15px;
                }
                .input
                {
                    font-family: 'GlacialBold';
                    margin-top: 20px;
                    padding: 10px 13px;
                    background-color: #e9f1fa;
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 0px #318ce73f;
                    border-radius: 10px;
                    transition: all 200ms ease-in-out;
                    outline: none;
                }
                .hidden 
                {
                    display: none;
                    transition: all 0.2s ease-in-out;
                }
                .errMsg
                {
                    
                    font-size: 12px;
                    color: #be0000;
                    font-family: 'GlacialBold';
                    transition: all 0.2s ease-in-out;
                }
                .error
                {
                    border: 2px solid #be0000;
                }
                .input:hover
                {
                    border: 2px solid #c5e2ffd8;
                }
                .input:focus
                {
                    border: 2px solid #318CE7;
                }
                .Back 
                {
                    @media only screen and (min-width: 500px){

                        font-size: 16px;
                        padding: 10px 30px;
                    }
                    float: left;
                    outline: none;
                    font-family: 'GlacialBold';
                    border: none;
                    background-color: #bebebe;
                    color: #fafafa;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: background-color 200ms ease-in-out;
                    margin-bottom: 30px;
                }
                .Back:hover
                {
                    background-color: #adadad;
                }
                .SignButton
                {
                    @media only screen and (min-width: 500px){
                        padding: 10px 30px;
                    }
                    font-family: 'GlacialBold';
                    border: none;
                    background-color: #318CE7;
                    color: #ffffff;
                    box-shadow: 2px 2px 5px #318ce73f;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: box-shadow 200ms ease-in-out;
                    margin-bottom: 30px;
                    outline: none;
                }
                .SignButton:hover
                {
                    box-shadow: 2px 2px 15px #318ce78c;
                }
                .disabeledButton
                {
                    float: right;
                    outline: none;
                    font-family: 'GlacialBold';
                    border: none;
                    background-color: #bebebe;
                    color: #fafafa;
                    cursor: not-allowed;
                    border-radius: 10px;
                    margin-bottom: 30px;
                }
            }
            a 
            {
                text-decoration: none;
                color:  #318CE7;
                font-family: 'GlacialBold';
                margin-left: 5px;
                transition: color 200ms ease-in-out;
            }
            a:hover
            {
                color:  #276aad;
            }
        }
    }
    .RightSide {
        right: 0;
        @media all and (min-width: 935px)
        {
            width: 60%;
        }
        
    }
}