@media only screen and (max-width: 935px) {
    .title
        {
            font-size: 45px;
        }
        .shape
        {
            width: 23.72881%;
        }
}
html, body , #__next {
    height: 100%;
    margin: 0;
  }

.body
{
    min-height: 100%;
    .ContentInside
    {
        padding-bottom: 80px;
    }
    .proposBody
    {
        margin-top: 5%;
        
        .title
        {
            font-family: 'HelvaticaNeu';
            background-image: url("/static/Assets/titleBack.png");
            background-size: cover;
            background-position: center;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media all and (min-width: 935px)
            {
                font-size: 5vw ;
                width: 50%;
            }
            
        }
        .content
        {
            color: #657786;
        }
        .heading
        {
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-family: 'GlacialBold';
            color: #2a2a2a;
        }
        .shape
        {
            display: block;
            height: 1rem;
            margin-bottom: 1.5rem;
            background-color: #3B91E8;
            @media all and (min-width: 935px)
            {
                width: 8%;
            }
            
        }
        .references
        {
            margin-top: 5%;
            .referTitle
            {
                text-align: center;
            }
            .Logos
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .Logo
                {
                    padding: 40px 50px ;
                }
            }
        }
    }
}