td > .Busy {
  background: repeating-linear-gradient(
    45deg,
    #20202010,
    #20202010 10px,
    #20202015 15px,
    #20202015 15px
  );
  padding: 30px;
  cursor: not-allowed;
  border-radius: 0px;
}
td > .Free:hover {
  padding: 30px;
  background-color: #2a2a2a2f;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
thead {
  th {
    padding: 10px;
  }
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
}
.Booked {
  border-radius: 0px;
  text-align: center;
  transition: 0.2s all ease-in-out;
  font-family: "GlacialBold";
  color: #ffffff;
  padding: 20px;
  background-color: #1cac78;
  transition: 0.2s all ease-in-out;
}
.profileBooked
{
  cursor: pointer;
}
.profileBooked:hover
{
  background-color: #1dc286;
}
.Pending {
  border-radius: 0px;
  text-align: center;
  transition: 0.2s all ease-in-out;
  font-family: "GlacialBold";
  color: #2a2a2a;
  padding: 20px;
  background-color: #e09f3e;
}
.Free {
  border-radius: 0px;
  text-align: center;
  background-color: #ffffff;
  transition: 0.2s all ease-in-out;
  padding: 30px;
}
html,
body,
#__next {
  height: 100%;
  margin: 0;
}
.CalendarControllers {
  @media only all and (min-width: 935px) {
    justify-content: space-between;
  }
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  button {
    outline: none;
    padding: 7px 12px 5px 12px;
    font-family: "GlacialBold";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-transform: none;
    opacity: 1;
    color: #3c4043;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.15s ease;
  }
  button:hover {
    background-color: #d3d3d367;
  }
  .weeks {
    @media only all and (min-width: 935px) {
      width: 30%;
    }
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
