@media only screen and (max-width: 935px){
    
    .RightSide
    {
        width: 100%;
    }
    .LeftSide
    {
        display: none;
    }
    .FormContainer
    {
        .multipleInput
        {
            width: 100%;
        }
        .select  ,.ColumnFLexContainer , .soc , h2 , h3
        {
            width: 100%;
        }
        
    }
}
@media only screen and (max-width: 500px){
    
    .FormContainer
    {
        h1 
        {
            font-size: 18px;
        }
        h2
        {
            font-size: 15px;
        }
        h3 
        {
            font-size: 13px;
        }
        label {
            font-size: 12px;
        }
        .buttonContainer
        {
            .next
            {
                padding: 10px 15px;
            }
            .Back
            {
                padding: 10px 15px;
            }
            .SignButton
            {
                padding: 10px 15px;
            }
        }
        .SignButton
        {
            padding: 10px 15px;
        }
    }
}