

@media only screen and (max-width: 935px){
    
  .titleContainer
  {
    h1
    {
        font-size: 2em;
        text-align: center;
        width: 100%;
    }
  }
  .CardsContainer
  {
      .Card1
      {
          width: 100%;
          
      }
  }
}