@import './Mobile/ProfileMobile.scss';

@media only all and (min-width: 935px) {
    .EditModal
    {
        width: 90% !important;
    }
}

td > .Busy
{
      background: repeating-linear-gradient(
      45deg,
      #20202010,
      #20202010 10px,
      #20202015 15px,
      #20202015 15px
    );
    padding: 30px;
    cursor: not-allowed;
    border-radius: 0px;
}
td >  .Free:hover{
  padding: 30px;
  background-color: #2a2a2a2f;
  cursor: pointer;
}

.ant-modal-body
{
   
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      thead 
      {
          th
          {
              padding: 10px;
          }
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: center;
      }
      
      .textArea
        {
            font-family: 'GlacialBold';
            box-sizing: border-box;
            resize: none;
            margin-top: 20px;
            width: 100%;
            padding: 10px 13px;
            background-color: #e9f1fa;
            border: 2px solid transparent;
            box-shadow: 0px 0px 0px #318ce73f;
            border-radius: 10px;
            transition: all 200ms ease-in-out;
            outline: none;
        }
        .textArea:hover
        {
            border: 2px solid #c5e2ffd8;
        }
        .textArea:focus
        {
            border: 2px solid #318CE7;
        }
      .Booked  {
          border-radius: 0px;
          text-align: center;
          transition: 0.2s all ease-in-out;
          font-family: 'GlacialBold';
          color: #ffffff;
          padding: 20px;
          background-color: #006d77;
      }
      .Pending
      {
        border-radius: 0px;
        text-align: center;
        transition: 0.2s all ease-in-out;
        font-family: 'GlacialBold';
        color: #2a2a2a;
        padding: 20px;
        background-color: #e09f3e;
      }
      .Free
      {
        border-radius: 0px;
        text-align: center;
        background-color: #ffffff;
        transition: 0.2s all ease-in-out;
        padding: 30px;
      }
      
       
}
html, body , #__next {
    //height: 100%;
    margin: 0;
  }

.CalendarControllers
{
    @media only all and (min-width: 935px) {
        justify-content: space-between;
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    button
    {
        outline : none ;
        padding: 7px 12px 5px 12px;
        font-family: 'GlacialBold';
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .25px;
        text-transform: none;
        opacity: 1;
        color: #3c4043;
        border: 1px solid #dddddd;
        border-radius: 5px;
        background-color: #ffffff;
        cursor : pointer ;
        transition: background-color 0.15s ease;
    }
    button:hover
    {
        background-color: #d3d3d367;
    }
    .weeks
    {
        @media only all and (min-width: 935px) {
            width: 30%;
        }
        display: flex;
        justify-content: space-around;
        flex-wrap : wrap ;
    }
}
.body
{
    min-height: 100%;
    .ContentInside
    {
        padding-bottom: 80px;
    }
    .element
    {
        color: #636363;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        @media only all and (min-width: 935px) {
            white-space: pre;
        }
    }
    .Profile
    {
        margin-bottom: 5%;
        .ButtonContainer
            {
                width: fit-content;
                width : -moz-fit-content ;
                margin-bottom: 30px;
                font-family: 'GlacialBold';
                background-color: transparent;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 200ms ease-in-out;
                .backButton
                {
                    cursor: pointer;
                }
                .icon
                {
                    padding-top: 2px;
                    margin-right: 10px;
                    color:#2a2a2a ;
                    float : left ;
                }
            }
            .ButtonContainer:hover
            {
                background-color: #ceecff4b;
            }
        .ProfileHead
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ProfileImg
            {
                border-radius: 50%;
                margin-right: 15px;
                padding: 0;
                cursor: pointer;
                img 
                {
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 0px 0px 15px #979797;
                    width: 80px;
                    height: 80px;
                }
            }
            .ProfileInfo
            {
                flex: 2;
                margin-left: 10px;
                h3
                {
                    font-family: "GlacialBold";
                    margin: 0;
                    color: #2a2a2a;
                }
                p
                {
                    font-family: "GlacialBold";
                    color:  #32a852;
                    margin: 2px 0 2px 0;
                    font-size: 13px;
                }
                .Likes 
                {
                    font-family: "GlacialRegular";
                    font-size: 12px;
                    color : #ff738a
                }
            }
            .BookMetting
            {     
                overflow: auto;
                align-items: center;
                display: flex;
                border: none;
                font-family: "GlacialBold";
                color : #ffffff ;
                background-color: #E24F54;
                padding: 5px 20px;
                border-radius: 15px;
                font-size: 15px;
                transition : all 0.2s ease-in-out;
                cursor: pointer;
                span 
                {
                    padding: 10px;
                }
                svg
                {
                    padding: 10px;
                }
            }
            .BookMetting:hover
            {
                background-color: #2a2a2a;
                
            }
            .EditProfile
            {     
                overflow: auto;
                align-items: center;
                display: flex;
                border: none;
                font-family: "GlacialBold";
                border : 2px solid #002D62 ;
                color : #002D62 ;
                background-color: #ffffff;
                padding: 1px 15px;
                border-radius: 15px;
                font-size: 15px;
                transition : all 0.15s ease-in-out;
                cursor: pointer;
                span 
                {
                    padding: 10px;
                }
                svg
                {
                    padding: 10px;
                }
            }
            .EditProfile:hover
            {
                color : #ffffff ;
                background-color: #002D62;
            }
        }
        .MenuContent
        {
            
            .presentation
            {
                h2 
                {
                    font-family: 'GlacialBold';
                    color: #000000cc;
                }
                p 
                {
                    color: #0000009d;
                    font-size: 15px;
                    
                }
            }
            .Horraire
            {
                h2 
                {
                    font-family: 'GlacialBold';
                    color: #000000cc;
                }
                .TimeTable
                {
                    display: flex;
                    box-shadow: 0px 0px 5px #9797975d;
                    border-radius: 15px;
                    @media only all and (min-width: 935px) {
                        width: 50%;
                    }
                    justify-content: space-between;
                    padding: 20px 40px 20px 40px;
                    .Block
                    {
                        display: flex;
                        justify-content: space-between;
                        ul
                        {
                            text-decoration: none;
                            list-style: none;
                            font-family: 'GlacialRegular';
                            color: #2a2a2a;
                            padding: 0;
                            li
                            {
                                padding: 10px;
                            }
                            .Today
                            {
                                font-family: 'GlacialBold';
                                color: #318CE7;
                            }
                        }
                        
                    }
                }
            }
            .InfoSupp
                {

                    box-shadow: 0px 0px 5px #9797975d;
                    border-radius: 15px;
                    @media only all and (min-width: 935px) {
                        width: 50%;
                        .Block
                        {
                            width: 90%;
                        }
                    }
                    justify-content: space-between;
                    padding: 20px 40px 20px 40px;
                    .Block
                    {
                        .title
                        {
                            font-family: 'GlacialBold';
                        }
                        ul
                        {
                            text-decoration: none;
                            list-style: none;
                            font-family: 'GlacialRegular';
                            color: #2a2a2a;
                            padding: 0;
                            display: flex;
                            justify-content: space-between;
                            li
                            {
                                padding: 10px;
                            }
                            
                        }
                        
                    }
                }
            .MapContainer
            {
                box-shadow: 0px 0px 15px #9797975d;
                @media only all and (min-width: 935px) {
                    width: 57%;
                }
                border-radius: 20px;
                margin-top: 20px;
            }
            
        }
        .MenuFooter
        {
            margin-top: 2%;
            display: flex;
            width: 20%;
            justify-content: space-between;
            align-items: center;
            .like
            {
                display: flex;
                align-items: center;
                padding-right: 20px;
                padding-left: 10px;
                transition: background-color 200ms ease-in-out;
                border-radius: 10px;
                label 
                {
                    font-size: 15px;
                    cursor: pointer;
                }
                .active
                {
                    font-family: 'GlacialBold';
                    color: rgb(226, 38, 77);
                }
            }
            .like:hover
            {
                background-color: #e2264d1a;
            }
            .share
            {
                .fa
                {
                    margin-right: 5px;
                    display: initial;
                }
                    border: none;
                    font-family: 'GlacialRegular';
                    font-size: 16px;
                    background-color: transparent;
                    margin-left: 15px;
                    padding: 10px 15px;
                    transition: background-color 200ms ease-in-out;
                    cursor: pointer;
                    border-radius: 10px;
            }
            .share:hover
            {
                background-color: #0000000d;
            }
        }
        
    }
}