@import './Mobile/searchMobile.scss';
html, body , #__next {
    height: 100%;
    margin: 0;
  }
body
{

    .body
    {
        min-height: 100%;
        .ContentInside
        {
            padding-bottom: 80px;
        }
    }
    .Noresults
    {
        text-align: center;
        h2
        {   
            font-family: 'HelvaticaNeu';
            font-weight: bolder;
        }
        p 
        {
            font-family: "GlacialRegular";
            color : #6e6d7a;
        }
    }
    .loader
    {
        margin-top: 3%;
        .sk
        {
            margin-top: 5%;
        }
    }
    .CardContainer
    {
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Card1
            {
                border-radius: 15px;
                margin-right: 20px;
                border: none;
                box-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.1);
                // box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.1);
                transition: all 0.2s ease;
                background-color: #ffffff;
                margin-top: 5%;
                box-sizing: border-box;
                width: 350px;
                padding: 20px 25px 40px 25px ;
                position:relative; 
                .Card_Head
                {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .ProfileImg
                    {
                        border-radius: 50%;
                        margin-right: 15px;
                        padding: 0;
                        cursor: pointer;
                        img 
                        {
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow: 0px 0px 15px #979797;
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .ProfileInfo
                    {
                        flex: 2;
                        margin-left: 20px;
                        h3
                        {
                            font-family: "GlacialBold";
                            margin: 0;
                            font-size: 15px;
                            color: #2a2a2a;
                        }
                        p
                        {
                            font-family: "GlacialBold";
                            color:  #32a852;
                            margin: 2px 0 2px 0;
                            font-size: 12px;
                        }
                        span 
                        {
                            font-family: "GlacialRegular";
                            font-size: 12px;
                            color : #ff738a
                        }
                    }
                }
                .Card_Body
                {
                    margin-bottom: 10px;
                    h3 
                    {
                        font-family: "GlacialBold";
                        font-size: 15px;
                    }
                    p {
                        font-family: "GlacialRegular";
                        font-size: 13px;
                    }
                }
                .Card_footer
                {
                    overflow: auto;
                    margin-bottom: 0;
                    position: absolute;
                    bottom:0;
                    right: 0;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    .button 
                    {
                        text-decoration : none ;
                        font-size: 14px;
                        float: right;
                        border: none;
                        font-family: 'GlacialBold';
                        background-color: #ffffff;
                        color: #318CE7;
                        border-radius: 10px;
                        padding: 10px 15px;
                        transition: background-color 200ms ease-in-out;
                        cursor: pointer;
                        outline: none;
                    }
                    .button:hover
                    {
                        background-color: #ceecff4b;
                    }
                }
                
            }
    .Card1:hover
    {
        // box-shadow: 0px 0px 10px  rgba(156, 185, 209, 0.452);
        box-shadow: 0 2px 31px -2px rgba(0, 0, 0, 0.1);
        -webkit-transform: translate(0px, -10px);
        -ms-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
        transition: all 0.2s ease;
    }
    .searchPage
    {
        .search_Container
        {
            font-family: 'GlacialRegular';
            margin: auto;
            width: 60%;
            margin-top: 5%;
            display: flex;
            ::placeholder
            {
                color: #b6b6b6;
                font-family: 'GlacialRegular';
            }
            @media all and (min-width:800px)
            {
                .inputContainer
                {
                    width: 25%;
                    padding: 5px 10px;
                    margin-right: 10px;
                }
            }
            .inputContainer
            {
                font-family: inherit;
                border-radius: 15px;
                border: 2px solid transparent;
                box-shadow: 0px 0px 2px #b4b4b4;
                outline: none;
                .searchInput
                {
                    border: none;
                    background-color: transparent;
                    outline: none;
                    color:#6d6d6d ;
                    width: 75%;
                    font-family: 'GlacialBold';
                }
                .icon
                {
                    padding-top: 6px;
                    margin-right: 10px;
                    color:#b6b6b6 ;
                    float : left ;
                }
                transition: border 0.2s ease-in-out;
            }
                    
            .inputContainer:focus-within
            {
                border: 2px solid #318CE7;
            }
            .searchButton
            {
                padding: 10px 15px;
                border-radius: 15px;
                box-sizing: border-box;
                font-size: 18px;
                border : none ;
                box-shadow: 0px 0px 2px #b4b4b4;
                cursor: pointer;
                color: #318CE7;
                transition: all 0.2s ease-in-out;
                outline: none;
            }
            .searchButton:hover
            {
                background-color: #318CE7;
                color: #EFEFEF ;
            }
        }
    }
    .pagination
    {
        text-align: center;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        .test
        {
            display: inline-block;
            text-decoration: none;
            margin-right: 15px;
        }
        .nextPage
        {
                padding: 5px 10px;
                border-radius: 5px;
                box-sizing: border-box;
                border : none ;
                color : #ffffff ;
                font-family: 'GlacialBold';
                box-shadow: 0px 0px 2px #b4b4b4;
                cursor: pointer;
                background-color: #318CE7;
                transition: all 0.2s ease-in-out;
                outline: none;
        }
        .nextPage:hover
        {
            box-shadow: 0px 0px 10px #b4b4b4;
        }
        .backPage
        {
                padding: 5px 10px;
                border-radius: 5px;
                box-sizing: border-box;
                border : none ;
                color : #ffffff ;
                font-family: 'GlacialBold';
                box-shadow: 0px 0px 2px #b4b4b4 ;
                cursor: pointer;
                background-color: #318CE7;
                transition: all 0.2s ease-in-out;
                outline: none;
        }
        .backPage:hover
        {
            box-shadow: 0px 0px 10px #b4b4b4;
        }
        .pageNumber
        {
            font-family: 'GlacialBold';
            color: #2a2a2a;
            padding: 5px 10px;
        }
        .disabled
        {
                padding: 5px 10px;
                border-radius: 5px;
                box-sizing: border-box;
                border : none ;
                color : #9c9c9c ;
                font-family: 'GlacialBold';
                box-shadow: 0px 0px 2px #b4b4b4;
                cursor: not-allowed;
                background-color: #e4e4e4;
                transition: all 0.2s ease-in-out;
                outline: none;
        }
    }
    
}