@font-face {
  font-family: 'GlacialRegular';
  src: url('/static/Fonts/GlacialIndifference-Regular.otf');
}
@font-face {
  font-family: 'GlacialBold';
  src: url('/static/Fonts/GlacialIndifference-Bold.otf');
}
@font-face {
  font-family: 'HelvaticaNeu';
  src: url('/static/Fonts/HelveticaNeu.ttf');
}
@font-face {
  font-family: 'publica';
  src: url('/static/Fonts/PublicaPlay.otf');
}