.ImagePreview
    {
        position: absolute;
        z-index: 4000;
        top: 0; right: 0; bottom: 0; left: 0;
        border-radius: 15px;
        height: 100%;
        width: 100% ;
        box-shadow: 0px 0px 15px rgba(56, 54, 54, 0.171);
        background-color: #2a2a2a57;
        backdrop-filter: saturate(180%) blur(20px);
        overflow: hidden;
        .Close
        {
            margin-top: 10px;
            margin-left: 10px;
            padding: 5px;
            border-radius: 50px;
            background-color: transparent;
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;
        }
        .Close:hover
        {
            transition: background-color 0.2s ease-in-out;
            background-color: rgba(56, 54, 54, 0.171);
        }
        .imageContainer
        {
             margin-top: 2%;
             width: auto;
             img
             {
                 object-fit: contain;
                 border-radius: 15px;
             }
        }
    }