@import './fonts.scss';
@import './Mobile/MobileHeader.scss';
:root {
    --bg:  #ffffff;
    --bg-accent: #d6d6d6;
    --text-color: #2a2a2a;
    --nav-size: 60px;
    --border: none;
    --border-radius: 15px;
    --speed: 500ms; 
  }
  
.body
{
    font-family: 'GlacialRegular';
    margin-left: 5%;
    margin-right: 5%;

    .Header_Container
    {   
        margin-top: 30px;
         @media all and (min-width: 935px)
        {
           
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .GridNav
            {
                display: flex ;
                align-items: center;
            }
            .NavSwitch{
                display: none;
            }
            .Header_subscribe
            {
                margin-right: 5px;
            }
        }
        
        @media all and (min-width: 1110px)
        {
            .link,.active{
                padding: 0px 16px;
            }
            .Header_Buttons
            {
                margin-left: 175px;
            }
        }
        #toggle
        {
            display: none;
        }
       
        ul {
            list-style-type: none;
            overflow: hidden;
            .link
            {
                
                text-decoration: none; 
                text-align: center;
                color: #2a2a2a;
                opacity: 1;
                transition: opacity 200ms ease-in-out;
                cursor: pointer;
            }
            .active
            {
                text-decoration: none; 
                text-align: center;
                font-family: 'GlacialBold';
                color: #318CE7;
                text-shadow: 2px 2px 5px #6EBBFF ;
            }
            .link:hover
            {
                opacity: 0.7;
            }
        }
        a
        {
            text-decoration: none;
            color: inherit;
        }
        li {
        float: left;
        }
        .Header_Buttons
        {
            @media all and (min-width: 1110px)
            {
                .Header_subscribe ,.Header_signin {
                    padding: 10px 30px;
                }
                .Header_subscribe
                {
                    margin-right: 20px;
                }
            }
            .Header_subscribe
            {
                font-family: 'GlacialBold';
                font-size: 16px;
                border: none;
                background-color: transparent;
                color: #2a2a2a;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 200ms ease-in-out;
                outline: none;
                -webkit-appearance: none;
            }
            .Header_subscribe:hover
            {
                background-color: #ceecff4b;
            }
            .Header_signin
            {
                font-family: 'GlacialBold';
                font-size: 16px;
                border: none;
                background-color: #318CE7;
                color: #ffffff;
                box-shadow: 2px 2px 5px #318ce73f;
                cursor: pointer;
                border-radius: 10px;
                transition: box-shadow 200ms ease-in-out;
                outline: none;
                -webkit-appearance: none;
                
            }
            .Header_signin:hover
            {
                box-shadow: 2px 2px 15px #318ce78c;
            }
            .ProfileThumb
            {
                display: flex;
                align-items: center;
                background-color: transparent;
                padding: 5px 10px;
                border-radius: 15px;
                transition: background-color 0.2s ease-in-out;
                cursor: pointer;
                    .ProfileImg
                    {
                        border-radius: 50%;
                        margin-right: 15px;
                        padding: 0;
                        cursor: pointer;
                        img 
                        {
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                            box-shadow: 0px 0px 15px #979797;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    span
                    {
                        font-family: 'GlacialBold';
                    }
            }
            .ProfileThumb:hover
            {
                background-color: rgba(13, 12, 34, 0.068);
            }
        }
            .Dropdown
            {
                @media all and (min-width: 935px)
                {
                   top: 50px;
                   transform: translateX(-45%);
                }
                position: absolute;
                width: 250px;
                background-color: var(--bg);
                border: var(--border);
                border-radius: var(--border-radius);
                padding: 1rem;
                overflow: hidden;
                transition: height var(--speed) ease;
                box-shadow: 0px 10px 50px rgba(0,0,0,0.1);
                .menuItem
                {
                    font-family: 'GlacialBold';
                    height: 30px;
                    display: flex;
                    align-items: center;
                    border-radius: var(--border-radius);
                    transition: background var(--speed);
                    padding: 0.5rem;
                    cursor: pointer;
                }
                .menuItem:hover
                {
                    color: #0d0c22;
                    background-color: rgba(13, 12, 34, 0.068);
                }
            }
           
            .icon-button {
                --button-size: calc(var(--nav-size) * 0.5);
                width: var(--button-size);
                height: var(--button-size);
                background-color: #c7c7c724;
                border-radius: 50%;
                padding: 5px;
                margin-right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: filter 300ms;
              }
              
              .icon-button:hover {
                opacity: 0.9;
              }
              
              .icon-button svg { 
                fill: var(--text-color);
                width: 20px;
                height: 20px;
              }
    }
}