@font-face {
  font-family: 'GlacialRegular';
  src: url('/static/Fonts/GlacialIndifference-Regular.otf');
}
@font-face {
  font-family: 'GlacialBold';
  src: url('/static/Fonts/GlacialIndifference-Bold.otf');
}


.body
{
    font-family: 'GlacialRegular';
    margin-left: 5%;
    margin-right: 5%;
    .Header_Container
    {
        .Header_Logo
        {
            padding-top: 10px;
        }
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul {
            list-style-type: none;
            margin: 0;
            padding-top: 10px;
            overflow: hidden;
            .link
            {
                padding: 0px 16px;
                text-decoration: none; 
                text-align: center;
                color: #2a2a2a;
                opacity: 1;
                transition: opacity 200ms ease-in-out;
                cursor: pointer;
            }
            .active
            {
                padding: 0px 16px;
                text-decoration: none; 
                text-align: center;
                font-family: 'GlacialBold';
                color: #318CE7;
                text-shadow: 2px 2px 5px #6EBBFF ;
            }
            .link:hover
            {
                opacity: 0.7;
            }
        }
        a
        {
            text-decoration: none;
            color: inherit;
        }
        li {
        float: left;
        }
        .Header_Buttons
        {
            
            .Header_subscribe
            {
                font-family: 'GlacialBold';
                font-size: 16px;
                border: none;
                background-color: transparent;
                padding: 10px 30px;
                margin-right: 20px;
                color: #2a2a2a;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 200ms ease-in-out;
                outline: none;
            }
            .Header_subscribe:hover
            {
                background-color: #ceecff4b;
            }
            .Header_signin
            {
                font-family: 'GlacialBold';
                font-size: 16px;
                border: none;
                background-color: #318CE7;
                padding: 10px 30px;
                color: #ffffff;
                box-shadow: 2px 2px 5px #318ce73f;
                cursor: pointer;
                border-radius: 10px;
                transition: box-shadow 200ms ease-in-out;
                outline: none;
                
            }
            .Header_signin:hover{
                
                box-shadow: 2px 2px 15px #318ce78c;
            }
        }
    }
}