@import './fonts.scss';

body
{
    overflow-x: hidden;
    position: relative;
    height: 100%;
    .topRight
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        margin-top: -60px;
        margin-right: -100px;
    }
    .middleLeft
    {
        position: absolute;
        z-index: -1;
        left: 0;
        margin-left: -150px;
    }
    .BottomLeft
    {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        margin-left: -150px;
    }
    
}
.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    color: #fafafa;
    background-color: #0D0C22;
    text-align: center;
  }